.navbarContainer{
    display: flex;
    justify-content:space-between;
    width: 100%;
    background-color: #fff;
}

.nombre{
    color: #0000008a;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.titulo:hover{
    font-weight: 600;
}

.menuLogo{
   display: flex;
   align-items: center;
}
