.cartButton{
    color: #151718
}

.cartButton:hover{
    font-weight: 600;
}

.cartImg{
    width: 50px;
}

.cartInfo{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.cartPrice{
    margin-left: 8px;
}

.cartContent{
    display: flex;
    justify-content: space-between;
}

.cartTitle{
    text-align: center;
}

.cartBtnInit{

}

.cartBtnClear{
    
}

.cartBtnIrCompra{
    width: 100%;
}

.btnContainer{
    display: flex;
    justify-content: center;
}