.footer{
    background: white;
    margin-top: 10px;
    border-top: 1px solid rgba(51,51,51,.1);
}

.footerTitulo{
    display: block;
    text-align: start;
    padding: 4px;
    font-size:x-small;
    color: #0000008a;
}